* {
    box-sizing: border-box;
}

.request-form {
    font-family: "Segoe UI", sans-serif;
    max-width: 846px;
}

.request-form > h2 {
    padding: 5px 22px;
    margin: 0;
    font-size: 38px;
    font-weight: normal;
    color: #676565;
}

.request-form > form > label {
    margin-top: 19px;
}

.request-form > form > p {
    margin-top: 15px;
    margin-bottom: 18px;
}

.request-form > form {
    background-color: #FEEED6;
    color: #676565;
    padding: 1px 22px;
}

.request-form > form > label {
    display: inline-block;
}

.request-form > form > label > span {
    margin-bottom: 9px;
    font-weight: bold;
    display: inline-block;
}

.request-form input {
    width: calc(100% - 44px);
    border: 0;
    padding: 10px 15px;
}

.request-form textarea {
    width: calc(100% - 44px);
    padding: 15px 15px;
    min-height: 130px;
    border: 0;
    resize: vertical;
}

.request-form button {
    display: block;
    background-color: #378DB2;
    color: #FFF;
    border: 0;
    font-weight: bold;
    padding: 8px 0;
    width: 172px;
    margin: 19px 17px 19px auto;
}

.request-form button:hover {
    cursor: pointer;
    background-color: #406260;
}