<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phone Book Vue</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="node_modules/jquery/dist/jquery.min.js" defer></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="node_modules/vue/dist/vue.js" defer></script>
    <script src="js/script.js" defer></script>
</head>
<body>
<div class="container" id="app">
    <h1>Phone Book Vue</h1>
    <div class="table-responsive-md">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr v-cloak v-for="(item, index) in items" :key="item.id">
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ item.firstName }}</td>
                <td>{{ item.lastName }}</td>
                <td>{{ item.phoneNumber }}</td>
                <td>
                    <button class="btn btn-sm p-0" @click="deleteEntry(item)" title="Delete">X</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputFirstName">First name</label>
                <input type="text" v-model="firstName" aria-label="First name" class="form-control"
                       :class="{ 'is-invalid': !isFirstNameCorrect }" id="inputFirstName">
            </div>
            <div class="form-group col-md-6">
                <label for="inputLastName">Last name</label>
                <input type="text" v-model="lastName" aria-label="Last name" class="form-control"
                       :class="{ 'is-invalid': !isLastNameCorrect }" id="inputLastName">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Phone number</label>
            <input type="text" v-model="phoneNumber" aria-label="Phone Number" class="form-control"
                   :class="{ 'is-invalid': !isPhoneNumberCorrect }" id="inputAddress">
        </div>
    </form>
    <button type="button" @click="addEntry" class="btn btn-success my-3">Add</button>
    <div v-cloak class="alert alert-danger" role="alert" v-if="!isFirstNameCorrect">Enter the name</div>
    <div v-cloak class="alert alert-danger" role="alert" v-if="!isLastNameCorrect">Enter the last name</div>
    <div v-cloak class="alert alert-danger" role="alert" v-if="!isPhoneNumberCorrect">Enter the number</div>
</div>
</body>
</html>